<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
            <a class=" nav-link" routerLink="contact" routerLinkActive="active">Contact us</a>
        </li>
        <li class="nav-item">
            <a class=" nav-link" routerLink="products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
            <a class=" nav-link" routerLink="directive-test" routerLinkActive="active">Directive</a>
        </li>
    </ul>
</nav>