<div class="widget" appBoxWidget>
    <div class="header">Header1</div>
    <div class="body">Body</div>
</div>

<div class="widget" appBoxWidget>
    <div class="header">Header1</div>
    <div class="body">Body</div>
</div>
<div class="widget" appBoxWidget>
    <div class="header">Header1</div>
    <div class="body">Body</div>
</div>
<div class="widget" appBoxWidget>
    <div class="header">Header1</div>
    <div class="body">Body</div>
</div>
<div class="widget" appBoxWidget>
    <div class="header">Header1</div>
    <div class="body">Body</div>
</div>
<div class="widget" appBoxWidget>
    <div class="header">Header1</div>
    <div class="body">Body</div>
</div>
<div class="widget" appBoxWidget>
    <div class="header">Header1</div>
    <div class="body">Body</div>
</div>

